.main-container {
    margin-top: 10%;
}
#submit {
    margin-top: 2%;
}
#email {
    margin: 2% 0 2% 0;
}
.error-email {
    margin-left: 21.2%;
    margin-top: -10%;
    color: red;
}
.error-password {
    margin-left: 21.2%;
    margin-top: -5.3%;
    color: red;    
}